body
{
    position: relative;
    background-color: lightblue;
}

#lsidebar
{
    background-color: #808080;
    position: absolute;
    top: 80px;
    width: 400px;
    border: 3px solid #ff0000

}

