body
{
    background-color: lightblue;
}

#bodyPara 
{
    background-color: antiquewhite;
    border: 3px, solid, black;
}

#lsidebar
{
    background-color: #808080;
    position: static;
    top: 80px;
    width: 400px;
    border: 3px solid #ff0000;
    padding: 5px 5px 5px 5px;

}



